
<app-menu [chuloEspecialidad]="chulo"></app-menu>
<div #myModal class="modal" style="background-color: rgba(0, 0, 0, 0.548)">
    <div class="modal-dialog modal-lg modal-dialog-centered" *ngIf="sessionStorage">
        <div class="modal-content col col-xl">
                <div class="modal-header p-0">
                    <div class="w-100 bg-danger d-block rounded-top-1" style="height: 7px;"></div>
                </div>
                <div class="p-3 d-block row">
                    <i class="fas fa-sharp fa-solid fa-info-circle" style="width: 2%;color: #e74c3c;"></i>
                    <p class="w-50 d-inline fs-5">Inicio de sesion</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col pt-2">
                    <div class="form-bottom p-3">
                            <p><small>Para continuar escriba su contraseña del aplicativo <b>"Historia Clínica"</b></small></p>
                            <form [formGroup]="loginModal" (ngSubmit)="loginModalSubmit()" method="POST" autocomplete="off">
                            <div class="row mb-4">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="">Usuario</label>
                                        <input type="text" formControlName="username" name="username" readonly="readonly" autocorrect="off" autocapitalize="off" placeholder="Usuario HC" class="form-username form-control form-control-lg  bg-light" maxlength="10">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="sr-only" for="">Contraseña</label>
                                        <input type="password" formControlName="password" name="password" autocorrect="off" autocapitalize="off" autocomplete="" spellcheck="false" placeholder="Contraseña" class="form-password form-control form-control-lg">
                                        <input type="hidden"  class="form-password form-control form-control-lg">
                                        <input type="hidden" class="form-password form-control form-control-lg">
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-danger w-100"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Entrar</button>
                                </div>
                                </div>
                            </form>
                            
                            <div class="alert alert-primary" role="alert" *ngIf="income === 'success' ">
                                Sesión de Usuario correcta, puede continuar. 
                            </div>
                            
                            <div class="alert alert-danger" role="alert" *ngIf="income === 'error' " [innerHTML] ="messageError">
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<router-outlet />
<app-footer></app-footer>