<div class="card-body situacion-card" *ngIf="datosDeSituacion">
    <div class="row">
        <div class="card-header">
            <small><b>{{lcNombreSituacion}}</b></small>
        </div>
        <div class="col-lg-6 pt-3">
            <label for="" class="form-label"><small><b>{{lcNombreMedico}} : <b class="text-danger"> *</b></b>
                </small></label>
            <input type="text" class="form-control" [(ngModel)]="datosDeSituacion.cMedicoTratanteNombre">
        </div>
        <div class="col-lg-3 pt-3">
            <label for="" class="form-label"><small><b>{{lcFechaIngresoInst}}<b class="text-danger"> *</b></b>
                </small></label>
            <input type="date" class="form-control" id="fechaIngreso" [(ngModel)]="prueba_fecha">
        </div>
        <div class="col-lg-3 pt-3">
            <label for="" class="form-label"><small><b>{{lcFechaIngresoSer}}<b class="text-danger">
                            *</b></b></small></label>
            <input type="date" class="form-control" id="fechaIngreso" [(ngModel)]="datosDeSituacion.nIngresoFecha">
        </div>
        <div class="col-lg-12 pt-3">
            <label for="" class="form-label"><small><b>{{lcAlergias}}<b class="text-danger">
                            *</b></b></small></label>
            <textarea class="form-control" id="" rows="10" [(ngModel)]="datosDeSituacion.lcAlergias"></textarea>
        </div>
        <div class="col-lg-12 pt-3 pb-3">
            <label for="" class="form-label"><small><b>{{lcPrecauciones}}<b class="text-danger"> 
                *</b></b></small></label>
            <textarea class="form-control" id="" rows="6" [(ngModel)]="datosDeSituacion.precau_hosp"></textarea>
        </div>
    </div>
</div>

<app-footer-kardex (OutGuardarInformacion)="guardarDatos()"></app-footer-kardex>